<h4>
  {{pergunta.questao}}
</h4>

<div *ngFor="let item of pergunta.respostas; let i = index">
  <app-resposta-check 
    [indiceResposta]="i"
    [resposta]="item" 
    (setarResposta)="setarResposta($event)"
    *ngIf="pergunta.questaoType == 'check'"></app-resposta-check>
  <app-resposta-texto 
    [indiceResposta]="i"
    [resposta]="item" 
    (setarResposta)="setarResposta($event)"
    *ngIf="pergunta.questaoType == 'text'"></app-resposta-texto>
  <app-resposta-radio 
    [indiceResposta]="i"
    [resposta]="item" 
    (setarResposta)="setarResposta($event)"
    *ngIf="pergunta.questaoType == 'radio'"></app-resposta-radio>
</div>





